{{- $page := .page -}}
{{- $imageName := .image -}}
{{- $size := .size | default "720x720" -}}
{{- $alt := .alt | default "Album cover" -}}
{{- $title := .title | default "Album" -}}
{{- $artist := .artist | default "Music" -}}
{{- $image := "" -}}
{{- with $imageName -}}
    {{- $image = $page.Resources.GetMatch . -}}
{{- end -}}
{{- if $image -}}
    {{- $cover := $image.Fit (printf "%s webp q88" $size) -}}
    <img class="music-cover-image music-cover-image--contain" src="{{ $cover.RelPermalink }}" width="{{ $cover.Width }}" height="{{ $cover.Height }}" alt="{{ $alt }}" loading="lazy" decoding="async">
{{- else -}}
    <span class="music-cover-fallback" role="img" aria-label="{{ $alt }}">
        <span class="music-cover-fallback__mark">{{ substr $title 0 1 }}</span>
    </span>
{{- end -}}
